// .header{
    .header-blank{
        background-color: #fff;
        overflow: visible;
        .container{
            height: 72px;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            .biglogo{
                width: 80px;
                position: relative;
                bottom: -38px;
                left: -6px;
                z-index: 1;
            }
            .font{
                height: auto;
                width: 300px;
                margin-bottom: 5px;
            }
        }
    }

    .navbar{
        border-bottom: 6px solid #9d1515;
        padding-bottom: 0px;
        background-color: #c63838;
        /* padding-bottom: 2px; */
        border-radius: 0px;
        height: 55px;

        .container{
            height: 100%;

            .navbar-header {
                height: 100%;

                #zyglpt{
                    // display: none;
                    font-size: 23px;
                    letter-spacing: 7px;
                    color: white;
                    margin-left: 90px;
                    line-height: 45px;
                }

                .logo{
                    width: auto;
                    height: 100%;
                    padding: 7px;
                    display: none;
                }

                .input-group{
                    position: absolute;
                    width: 350px;
                    right: 15%;
                    top: -39px;
                    display: flex;
                    flex-direction: row;
                }
            }

            #bs-example-navbar-collapse-1{
                height: 100%;
            }

            .collapse{
                height: 100%;
                .nav{
                    height: 100%;
                    li{
                        height: 100%;
                        a{
                            height: 100%;
                            color: white;
                            font-weight: bold;
                            font-size: 17px;
                            &:hover{
                                background: #fff;
                                color: #D24D57;
                                border-bottom: solid #D24D57 2px;
                            }
                        }
                    }
                    .active{
                        border-bottom: solid #fff 4px;
                        color: #fff;
                    }
                }
            }
        }
    }
// }

@media screen and (max-width:720px) {
    // .header{
        .navbar{
            .container{
                height: auto;
                .navbar-toggle{
                    border: 1px solid #000;
                    span{
                        border-bottom: 1px solid #000;
                    }
                }
                .logo{
                    width:80% !important;
                    display: block !important;
                }
                #zyglpt{
                    display: none;
                }
            }
        }
        .header-blank{
            display: none;
            .biglogo{
                display: none;
            }
            .font{
                display: none;
            }
        }
    // }
}
